<nav>
    <div class="navbar_1">

        <div class="child m-2"><a routerLink=""><img class="m-2" src="assets/home_logo.png" alt="" style="width: 30px;">
                Home</a>
        </div>
        <span>|</span>
        <div class="child m-2"><a routerLink="/admin-login"><img class="m-2" src="assets/profile.png" alt=""
                    style="width: 30px;">DOTE Login</a></div>
        <span>|</span>
        <div class="child m-2"><a routerLink="/uni-login"><img class="m-2" src="assets/school.png" alt=""
                    style="width: 30px;">Admin Login</a></div>

    </div>
</nav>