<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Header -->
<header id="head-01">
  <div class="head-logo">
    <img style="height: 120px; width: 150px;" src="assets/logo.png" alt="">
  </div>
  <div class="head">
    <p id="title" style="font-size: 2rem;color: black; font-weight: bold; font-family: 'Akaya Telivigala', cursive;">
      DIRECTORATE OF TECHNICAL EDUCATION</p>
    <p id="sub-title"
      style="font-size: 1.5rem; color: black; font-weight: 500; font-family: 'Akaya Telivigala', cursive;">GOVERNMENT OF
      TAMILNADU</p>
  </div>
</header>
<app-navbar></app-navbar>

<!-- <router-outlet></router-outlet> -->


<!-- <app-forgot-password></app-forgot-password> -->
<router-outlet></router-outlet>

<!-- <app-login></app-login> -->
<!-- <app-gce-salem></app-gce-salem> -->
<!-- <app-gce-salem-details></app-gce-salem-details> -->
<!-- <app-gce-salem-viewform></app-gce-salem-viewform> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-details-form></app-details-form> -->
<!-- <app-college-name></app-college-name> -->
<!-- <app-view-form></app-view-form> -->

<br>
<!--Footer-->

<footer id="head-02">
  <div class="head-02">
    <p style="font-size: 1.3rem;color: #000">
      For any queries - contact us
    </p>
    <p style="font-size: 1.3rem;color: #000">
      E-mail : gcesalem.edu@gmail.com
    </p>
    <div class="mobile-rows">
      <div class="mobile-rows-01">
        <i class="fa fa-mobile" style="font-size: 40px; color: #000;"></i>
      </div>
      <div class="mobile-rows-02" style="color: #000">- 1234567890</div>
    </div>
    <div class="mobile-rows">
      <div class="mobile-rows-01">
        <i class="fa fa-mobile" style="font-size: 40px; color: #000;"></i>
      </div>
      <div class="mobile-rows-02" style="color: #000;">- 1234567890</div>
    </div>
  </div>
</footer>