<table>
    <tr class="active">
        <td class="table1">GO NUMBER 2020_15-11-2021
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 2
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 3
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 4
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 5
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 6
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 7
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 8
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 9
        </td>
    </tr>
    <tr>
        <td class="table1">Notification 10
        </td>
    </tr>
</table>