<div class="login-box-container pt-5">

    <form class=" login-box pt-3" style="text-align: center;" [formGroup]="forgotForm" (ngSubmit)="change()">
        <div class="login-logo">
            <img src="assets/user.png" style="height: 70px; width: 70px;margin-top: -70px;">
        </div>
        <p style="font-size: 25px; font-weight: 600;">Change Password</p>

        <div class="input-group mb-4 mt-4" id="login-input">
            <input type="text" formControlName="old_password" class="form-control" placeholder="Old Password">
            <!-- <div style="color: red;" *ngIf="email.invalid && (email.touched || email.dirty)">
                <span class="error" *ngIf="email.errors?.required">*Email is Required.</span>
                <span class="error" *ngIf="email.errors?.email">*Enter valid e-mail id.</span>
            </div> -->
        </div>

        <div class="input-group mb-3 mt-4" id="login-input">
            <input type="password" formControlName="new_password" class="form-control" placeholder="New Password">
        </div>


        <div class="input-group mb-3 mt-4" id="login-input">
            <input type="text" formControlName="confirm_password" class="form-control" placeholder="Confirm Password">
        </div>

        <button class="btn btn-outline-primary mt-4 mb-3" style=" border-radius: 14px;"
            [disabled]="forgotForm.invalid">Change</button>
    </form>
</div>