<div *ngIf="!Next">
    <div class="" style="height: 50px; width: 50px;" (click)="toggle()">
        <img *ngIf="!toggleStyle" src="./assets/menu.png" alt="" style="height: 30px; width: 30px; margin-top: 10px;">
        <img *ngIf="toggleStyle" src="./assets/cancel.png" alt="" style="height: 30px; width: 30px; margin-top: 10px;">
    </div>
    <div class="details-container pt-3">
        <div *ngIf="toggleStyle" class="cont-navbar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="cont-rows">
            <div class="college" style="text-align: center;">
                <div class="college-name" style="height: 50px; width: 100%;">
                    {{title}}
                </div>
            </div>
            <br>
            <br>

            <div class="mt-5" style="text-align: center;">
                <table class=" table-borderless mt-3">
                    <tbody>
                        <tr>
                            <td id="tab-1">Taluk</td>
                            <td id="tab-2">:</td>
                            <td id="tab-3">Omalur</td>
                        </tr>
                        <tr>
                            <td id="tab-1">Constituency</td>
                            <td id="tab-2">:</td>
                            <td id="tab-3">SALEM WEST</td>
                        </tr>
                        <tr>
                            <td id="tab-1">District</td>
                            <td id="tab-2">:</td>
                            <td id="tab-3">Salem</td>
                        </tr>
                        <tr>
                            <td id="tab-1">Pincode</td>
                            <td id="tab-2">:</td>
                            <td id="tab-3">636011</td>
                        </tr>
                        <tr>
                            <td id="tab-1">Email-ID</td>
                            <td id="tab-2">:</td>
                            <td id="tab-3">prinicipal@gcesalem.edu.in</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <h1 style="text-decoration: underline;" class="contact_align">Contact :</h1>
            <br>
            <div class="college-cont" style="text-align: center;">
                <table class=" table-borderless">
                    <tbody>
                        <tr class="mt-2">
                            <td id="tab-1">Chairman</td>
                            <td id="tab-2">:</td>
                            <td id="tab-3"></td>
                        </tr>
                        <tr class="mt-2">
                            <td id="tab-1">Principle Name</td>
                            <td id="tab-2">:</td>
                            <td id="tab-3">Dr.Malayalamurthi (Phno : 9443441416)</td>
                        </tr>
                        <tr class="mt-2">
                            <td id="tab-1">College Contact No</td>
                            <td id="tab-2">:</td>
                            <td id="tab-3">0427-2346102 </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <br>
            <br>

            <div class="college-btn" style="text-align: center;">

                <button class="btn btn-outline-primary m-4 " style=" border-radius: 15px;width: 100px; height: 50px;"
                    (click)="nxtpage()" routerLink="/gce-salem-details">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<!-- <app-gce-salem-details *ngIf="Next"></app-gce-salem-details> -->
<!-- [courses]="courses" [titles]="title" -->